{% assign heading_tag = include.heading | default: 'h3' %}
<ul class="post-list">
  {% for post in include.posts %}
    <li{% if include.searchable %} data-search="{{ post.title | escape }} {{ post.categories | join: ' ' | escape }} {{ post.tags | join: ' ' | escape }} {{ post.date | date: '%Y-%m-%d' }} {{ post.date | date: '%Y.%m.%d' }}"{% endif %}>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y.%m.%d' }}</time>
      <div>
        <{{ heading_tag }}><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></{{ heading_tag }}>
        {% if include.excerpts %}
          {% assign summary = post.description | default: post.excerpt | strip_html | normalize_whitespace | truncate: 120 %}
          {% if summary != '' %}<p class="entry-description">{{ summary | escape }}</p>{% endif %}
        {% endif %}
        <div class="entry-meta">
          {% if post.categories.size > 0 %}
            {% assign categories = post.categories | uniq %}
            {% for category in categories %}<a href="{{ '/categories/' | relative_url }}#category-{{ category | cgi_escape | cgi_escape }}">{{ category | escape }}</a>{% endfor %}
          {% else %}
            <a href="{{ '/categories/' | relative_url }}#uncategorized">未分类</a>
          {% endif %}
          {% if include.searchable or include.show_tags %}
            {% assign unique_tags = post.tags | uniq %}
            {% for tag in unique_tags %}<a class="entry-tag" href="{{ '/tags/' | relative_url }}#tag-{{ tag | cgi_escape | cgi_escape }}"># {{ tag | escape }}</a>{% endfor %}
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
